/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

$inuit-enable-margins: true;

// Colour
$burton-red: #88221E;
$burton-gold: #BC9840;

$white: #fff;


// High-level base settings.
$inuit-base-text-color: #000;
$inuit-base-background-color: rgb(231,238,247);


$inuit-btn-background:      $burton-red;
$inuit-btn-color:           #fff;
$inuit-btn-border-width:    1px;
$inuit-btn-border-style:    solid;
$inuit-btn-border-color:    #fff;
$inuit-btn-radius:          4px;
