/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    height: 100%;
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

body {
    height: 100%;
        
    padding: $inuit-base-spacing-unit;
    
    text-align: center;
}

.background {
    background-image: url("../img/kirkburtoncc.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: bottom;
}

.logo {
    width: 160px;
    margin-bottom: $inuit-base-spacing-unit--small;
}

.header {
    text-shadow: 0px 2px 0px rgba(0,0,0,0.6);
}

.header__title {
    font-weight: 300;
}