/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

$inuit-btn-background:      transpatent;
$inuit-btn-color:           #fff;
$inuit-btn-border-width:    1px;
$inuit-btn-border-style:    solid;
$inuit-btn-border-color:    #fff;
$inuit-btn-radius:          4px;


.btn {
    margin: 20px;
}



