/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

// Colour
$burton-red: #88221E;
$burton-gold: #BC9840;

$white: #fff;


// High-level base settings.
$inuit-base-background-color: $burton-red;